version: '3.9'

services:
  bot:
    build: .
    container_name: snappy-bot
    restart: unless-stopped
    environment:
      - NODE_ENV=production
      - DISCORD_TOKEN=${BOT_TOKEN}
      - CLIENT_ID=${CLIENT_ID}
      - GUILD_ID=${GUILD_ID}
      - MONGODB_URI=${MONGODB_URI}
      - LEAGUE_OF_LEGENDS_API_KEY=${LEAGUE_OF_LEGENDS_API_KEY}
      - STEAM_API_KEY=${STEAM_API_KEY}
      - FACEIT_API_KEY=${FACEIT_API_KEY}
    depends_on:
      redis:
        condition: service_started
    networks:
      - app-network

  mongo:
    image: mongo:noble
    container_name: snappy-mongo
    restart: unless-stopped
    environment:
      MONGO_INITDB_ROOT_USERNAME: ${MONGODB_USERNAME}
      MONGO_INITDB_ROOT_PASSWORD: ${MONGODB_PASSWORD}
      MONGO_INITDB_DATABASE: snappy
    volumes:
      - mongo-data:/data/db
    healthcheck:
      test: ["CMD", "mongosh", "--eval", "db.adminCommand('ping')"]
      interval: 10s
      timeout: 5s
      retries: 5
    networks:
      - app-network

  redis:
    image: redis:latest
    container_name: redis-cache
    restart: unless-stopped
    ports:
      - "6379:6379"
    volumes:
      - redis-data:/data
    networks:
      - app-network

volumes:
  redis-data:
  mongo-data:

networks:
  app-network:
    driver: bridge
